<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!-- 控制台日志，编码阶段使用 -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender"
		additivity="false">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %l%n%p: %m%n" />
		</layout>
	</appender>

	<!-- 控制台异步日志,开发环境使用，方便调试 -->
	<appender name="ASYNC_CONSOLE" class="org.apache.log4j.AsyncAppender"
		additivity="false">
		<param name="BufferSize" value="64" />
		<param name="LocationInfo" value="true" />
		<appender-ref ref="CONSOLE" />
	</appender>

	<!-- JSSB框架底层日志，分析框架问题时使用 -->
	<appender name="JSSB_LOG" class="org.apache.log4j.DailyRollingFileAppender"
		additivity="false">
		<param name="File" value="jssb.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %l%n%p: %m%n" />
		</layout>
	</appender>

	<!-- 异步JSSB框架底层日志，生产环境使用 -->
	<appender name="ASYNC_JSSB_LOG" class="org.apache.log4j.AsyncAppender"
		additivity="false">
		<param name="BufferSize" value="512" />
		<param name="LocationInfo" value="true" />
		<appender-ref ref="JSSB_LOG" />
	</appender>

	<!-- 业务日志，生产环境使用 -->
	<appender name="BUSINESS_LOG" class="org.apache.log4j.DailyRollingFileAppender"
		additivity="false">
		<param name="File" value="/data/logs/emplog/business/business.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %l%n%p: %m%n" />
		</layout>
	</appender>

	<!-- 异步业务日志，生产环境使用 -->
	<appender name="ASYNC_BUSINESS_LOG" class="org.apache.log4j.AsyncAppender"
		additivity="false">
		<param name="BufferSize" value="256" />
		<param name="LocationInfo" value="true" />
		<appender-ref ref="BUSINESS_LOG" />
	</appender>

	<!-- EHCACHE日志，生产环境使用 -->
	<appender name="EHCAHE_LOG" class="org.apache.log4j.DailyRollingFileAppender"
		additivity="false">
		<param name="File" value="c:/business.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %l%n%p: %m%n" />
		</layout>
	</appender>

	<!-- 异步业务日志，生产环境使用 -->
	<appender name="ASYNC_EHCAHE_LOG" class="org.apache.log4j.AsyncAppender"
		additivity="false">
		<param name="BufferSize" value="256" />
		<param name="LocationInfo" value="true" />
		<appender-ref ref="EHCAHE_LOG" />
	</appender>

	<!-- 特定需要记录日志的包 -->
	
	<!-- 这个配置对性能影响很大，发版的时候一定要改成ERROR --> 
	<category name="java.sql"> 
		<priority value="DEBUG" /> 
		<appender-ref ref="CONSOLE" /> 
	</category> 
	
	<!-- 这个配置对性能影响很大，发版的时候一定要改成ERROR 
	<category name="com.zte.html5">
		<priority value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</category>
	--> 
	
	<!-- ehcache -->
	<category name="net.sf.ehcache">
		<priority value="info" />
		<appender-ref ref="CONSOLE" />
	</category>

	<category name="org.jgroups">
		<priority value="info" />
		<appender-ref ref="CONSOLE" />
	</category>

	<category name="org.springframework.cache">
		<priority value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</category>
	
	<logger name="org.eclipse.jetty">
		<level value="WARN" />
	</logger>
	<logger name="org.springframework">
		<level value="WARN" />
	</logger>

	<logger name="org.mybatis.spring">
		<level value="WARN" />
	</logger>
	
	<logger name="org.springframework.web">
		<level value="DEBUG" />
	</logger>


	<category name="com.zte.emp.ui.json.securityManager">
		<priority value="INFO" />
		<appender-ref ref="DATA_LOG" />
	</category>

	<!-- 默认所有业务日志异步输出到文件business.log; 其他特殊框架性的日志输出到jssb.log -->
	<root>
		<priority value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>
