<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zte.html5.sysman.email.EmailMapper" >
  <!-- 屏蔽mybatis的2级缓存  <cache />  -->
  
  <!-- 记录和实体映射配置 -->
  <resultMap id="BaseMap" type="com.zte.html5.sysman.email.Email" >
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="RELATION_ID" property="relationId" jdbcType="VARCHAR" />	
		<result column="SENDER" property="sender" jdbcType="VARCHAR" />	
		<result column="RECIPIENT" property="recipient" jdbcType="VARCHAR" />	
		<result column="CC" property="cc" jdbcType="VARCHAR" />	
		<result column="BCC" property="bcc" jdbcType="VARCHAR" />	
		<result column="SUBJECT" property="subject" jdbcType="VARCHAR" />	
		<result column="SUBJECT_EN" property="subjectEn" jdbcType="VARCHAR" />	
		<result column="CONTENT" property="content" jdbcType="VARCHAR" />	
		<result column="CONTENT_EN" property="contentEn" jdbcType="VARCHAR" />	
		<result column="MAIL_LEVEL" property="mailLevel" jdbcType="BIGINT" />	
		<result column="SEND_FLAG" property="sendFlag" jdbcType="VARCHAR" />	
		<result column="MERGE_COUNT" property="mergeCount" jdbcType="BIGINT" />	
		<result column="MEMO" property="memo" jdbcType="VARCHAR" />	
		<result column="CREATED_BY" property="createdBy" jdbcType="BIGINT" />	
		<result column="CREATED_DATE" property="createdDate" jdbcType="TIMESTAMP" />	
		<result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="BIGINT" />	
		<result column="LAST_UPDATED_DATE" property="lastUpdatedDate" jdbcType="TIMESTAMP" />	
		<result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />	
		<result column="ORG_ID" property="orgId" jdbcType="BIGINT" />	
  </resultMap>

  <!-- 获取一条记录 -->
  <select id="get"  resultMap="BaseMap">
    select
    	t.ID ,
    	t.RELATION_ID ,	
    	t.SENDER ,	
    	t.RECIPIENT ,	
    	t.CC ,	
    	t.BCC ,	
    	t.SUBJECT ,	
    	t.SUBJECT_EN ,	
    	t.CONTENT ,	
    	t.CONTENT_EN ,	
    	t.MAIL_LEVEL ,	
    	t.SEND_FLAG ,	
    	t.MERGE_COUNT ,	
    	t.MEMO ,	
    	t.CREATED_BY ,	
    	t.CREATED_DATE ,	
    	t.LAST_UPDATED_BY ,	
    	t.LAST_UPDATED_DATE ,	
    	t.ENABLE_FLAG ,	
    	t.ORG_ID 	
    from frm_email t
    where 
    t.ID=#{id,jdbcType=BIGINT}
  </select>
 
  <!-- 获取符合条件的记录列表 -->
  <select id="getList" parameterType="java.util.Map" resultMap="BaseMap">
    select
    	t.ID ,
    	t.RELATION_ID ,	
    	t.SENDER ,	
    	t.RECIPIENT ,	
    	t.CC ,	
    	t.BCC ,	
    	t.SUBJECT ,	
    	t.SUBJECT_EN ,	
    	t.CONTENT ,	
    	t.CONTENT_EN ,	
    	t.MAIL_LEVEL ,	
    	t.SEND_FLAG ,	
    	t.MERGE_COUNT ,	
    	t.MEMO ,	
    	t.CREATED_BY ,	
    	t.CREATED_DATE ,	
    	t.LAST_UPDATED_BY ,	
    	t.LAST_UPDATED_DATE ,	
    	t.ENABLE_FLAG ,	
    	t.ORG_ID 	
    from frm_email t
    where 1=1
	<if test="id != null"> and t.ID = #{id}</if>	
	<if test="relationId != null and relationId != ''"> and t.RELATION_ID = #{relationId}</if>
	
	<if test="orderField != null">
		<choose>
			<when test="orderField=='id'"> order by t.ID <if test="order != null and order == 'desc'"> desc </if> </when>
			<when test="orderField=='relationId'"> order by t.RELATION_ID <if test="order != null and order == 'desc'"> desc </if> </when>
		</choose>
	</if>
  </select>
  
  <!-- 删除一条记录 -->
  <delete id="delete" >
    delete 
    from frm_email
    where
    ID = #{id,jdbcType=BIGINT}
  </delete>

  <!--添加一条记录 -->
  <insert id="insert" parameterType="com.zte.html5.sysman.email.Email" >
  	<!--主键是自增字段时,放开注释代码 
	<selectKey keyProperty="id" resultType="java.lang.Long"  order="AFTER">   
        select LAST_INSERT_ID() as id  
      </selectKey> 
	-->
    insert into frm_email 
    (
		ID ,
    	RELATION_ID ,	
    	SENDER ,	
    	RECIPIENT ,	
    	CC ,	
    	BCC ,	
    	SUBJECT ,	
    	SUBJECT_EN ,	
    	CONTENT ,	
    	CONTENT_EN ,	
    	MAIL_LEVEL ,	
    	SEND_FLAG ,	
    	MERGE_COUNT ,	
    	MEMO ,	
    	CREATED_BY ,	
    	CREATED_DATE ,	
    	LAST_UPDATED_BY ,	
    	LAST_UPDATED_DATE ,	
    	ENABLE_FLAG ,	
    	ORG_ID 	
    )
    values 
    (
	  frm_email_s.nextval ,
    	#{relationId,jdbcType=VARCHAR} ,	
    	#{sender,jdbcType=VARCHAR} ,	
    	#{recipient,jdbcType=VARCHAR} ,	
    	#{cc,jdbcType=VARCHAR} ,	
    	#{bcc,jdbcType=VARCHAR} ,	
    	#{subject,jdbcType=VARCHAR} ,	
    	#{subjectEn,jdbcType=VARCHAR} ,	
    	#{content,jdbcType=VARCHAR} ,	
    	#{contentEn,jdbcType=VARCHAR} ,	
    	#{mailLevel,jdbcType=BIGINT} ,	
    	#{sendFlag,jdbcType=VARCHAR} ,	
    	#{mergeCount,jdbcType=BIGINT} ,	
    	#{memo,jdbcType=VARCHAR} ,	
    	#{createdBy,jdbcType=BIGINT} ,	
    	#{createdDate,jdbcType=TIMESTAMP} ,	
    	#{lastUpdatedBy,jdbcType=BIGINT} ,	
    	#{lastUpdatedDate,jdbcType=TIMESTAMP} ,	
    	#{enableFlag,jdbcType=VARCHAR} ,	
    	#{orgId,jdbcType=BIGINT} 	
    )
  </insert>
  
  <!-- 更新一条记录 -->
  <update id="update" parameterType="com.zte.html5.sysman.email.Email" >
    update frm_email
    set 
		RELATION_ID=#{relationId,jdbcType=VARCHAR} ,
		SENDER=#{sender,jdbcType=VARCHAR} ,
		RECIPIENT=#{recipient,jdbcType=VARCHAR} ,
		CC=#{cc,jdbcType=VARCHAR} ,
		BCC=#{bcc,jdbcType=VARCHAR} ,
		SUBJECT=#{subject,jdbcType=VARCHAR} ,
		SUBJECT_EN=#{subjectEn,jdbcType=VARCHAR} ,
		CONTENT=#{content,jdbcType=VARCHAR} ,
		CONTENT_EN=#{contentEn,jdbcType=VARCHAR} ,
		MAIL_LEVEL=#{mailLevel,jdbcType=BIGINT} ,
		SEND_FLAG=#{sendFlag,jdbcType=VARCHAR} ,
		MERGE_COUNT=#{mergeCount,jdbcType=BIGINT} ,
		MEMO=#{memo,jdbcType=VARCHAR} ,
		CREATED_BY=#{createdBy,jdbcType=BIGINT} ,
		CREATED_DATE=#{createdDate,jdbcType=TIMESTAMP} ,
		LAST_UPDATED_BY=#{lastUpdatedBy,jdbcType=BIGINT} ,
		LAST_UPDATED_DATE=#{lastUpdatedDate,jdbcType=TIMESTAMP} ,
		ENABLE_FLAG=#{enableFlag,jdbcType=VARCHAR} ,
		ORG_ID=#{orgId,jdbcType=BIGINT} 
    where 
    ID=#{id,jdbcType=BIGINT}
  </update>
  
  <!-- 翻页函数:获取符合条件的记录数 -->
  <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Long">
      select count(*)
      from frm_email t
      WHERE 1=1 
		<if test="id != null"> and t.ID = #{id}</if>	
		<if test="relationId != null and relationId != ''"> and t.RELATION_ID = #{relationId}</if>
  </select>
	
  <!-- 翻页函数:获取一页的记录集 -->
  <select id="getPage" parameterType="java.util.Map" resultMap="BaseMap">
	 select * from frm_email t
		WHERE 1=1 
			<if test="id != null"> and t.ID = #{id}</if>	
			<if test="relationId != null and relationId != ''"> and t.RELATION_ID = #{relationId}</if>
	  <if test="startRow != null and rowSize != null"> <![CDATA[ AND ROWNUM >=#{startRow} AND ROWNUM <= #{rowSize}]]></if>
	  <if test="orderField != null and orderField == 'id'"> order by t.ID <if test="order != null and order == 'desc'"> desc </if> </if>
			<if test="orderField != null and orderField == 'relationId'"> order by t.RELATION_ID <if test="order != null and order == 'desc'"> desc </if> </if>

  </select>
	
</mapper>