<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zte.html5.sysman.test1.Test1Mapper" >
  <!-- 屏蔽mybatis的2级缓存  <cache />  -->
  
  <!-- 记录和实体映射配置 -->
  <resultMap id="BaseMap" type="com.zte.html5.sysman.test1.Test1" >
		<id column="id" property="id" jdbcType="BIGINT" />
  </resultMap>

  <!-- 获取一条记录 -->
  <select id="get"  resultMap="BaseMap">
    select
    	t.id ,
    from test1 t
    where 
    t.id=#{id,jdbcType=BIGINT}
  </select>
 
  <!-- 获取符合条件的记录列表 -->
  <select id="getList" parameterType="java.util.Map" resultMap="BaseMap">
    select
    	t.id ,
    from test1 t
    where 1=1
	<if test="id != null"> and t.id = #{id}</if>	
	
	<if test="orderField != null">
		<choose>
			<when test="orderField=='id'"> order by t.id <if test="order != null and order == 'desc'"> desc </if> </when>
		</choose>
	</if>
  </select>
  
  <!-- 删除一条记录 -->
  <delete id="delete" >
    delete 
    from test1
    where
    id = #{id,jdbcType=BIGINT}
  </delete>

  <!--添加一条记录 -->
  <insert id="insert" parameterType="com.zte.html5.sysman.test1.Test1" >
  	<!--主键是自增字段时,放开注释代码 
	<selectKey keyProperty="id" resultType="java.lang.Long"  order="AFTER">   
        select LAST_INSERT_ID() as id  
      </selectKey> 
	-->
    insert into test1 
    (
		id ,
    )
    values 
    (
    test1_S.nextval ,
    )
  </insert>
  
  <!-- 更新一条记录 -->
  <update id="update" parameterType="com.zte.html5.sysman.test1.Test1" >
    update test1
    set 
    where 
    id=#{id,jdbcType=BIGINT}
  </update>
  
  <!-- 翻页函数:获取符合条件的记录数 -->
  <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Long">
      select count(*)
      from test1 t
      WHERE 1=1 
		<if test="id != null"> and t.id = #{id}</if>	
  </select>
	
  <!-- 翻页函数:获取一页的记录集 -->
  <select id="getPage" parameterType="java.util.Map" resultMap="BaseMap">
	 select * from test1 t
		WHERE 1=1 
			<if test="id != null"> and t.id = #{id}</if>
    <if test="startRow != null and rowSize != null"> <![CDATA[ AND ROWNUM >=#{startRow} AND ROWNUM <= #{rowSize}]]></if>
    <if test="orderField != null and orderField == 'id'"> order by t.id <if test="order != null and order == 'desc'"> desc </if> </if>

  </select>
	
</mapper>