.msDropDown DIV {
	DISPLAY: inline-block; COLOR: #000000; TEXT-ALIGN: left; 
}
.msDropDown {
	BORDER: #7F9DB9 1px solid; 
	 DISPLAY: inline-block;
	 background-color:#f2f2f2;
	 WIDTH: auto;
	 PADDING: 1px 0 0 2px; 
	 POSITION: absolute;
	 height:20px;
	 line-height:18px;
}
.msDropDown .msDropDown_Child {
	BORDER: #7F9DB9 1px solid; 
	OVERFLOW-Y: auto; 
	OVERFLOW-X: hidden;
	DISPLAY: none;  
	MARGIN: 0; 
	PADDING:0;
	WIDTH: auto;
	HEIGHT:auto; 
	CURSOR: default;
	BACKGROUND-COLOR: #EFEFEF;
}
.msDropDown .msEnabled {
	CURSOR: default
}
.msDropDown .msDisabled {
	CURSOR: default
}
.msDropDown .msArrow {
	PADDING-RIGHT: 1px; 
	PADDING-LEFT: 0px; 
	FLOAT: right;
	width:16px;
	height:18px;
	PADDING-BOTTOM: 3px;
	PADDING-TOP: 1px; 
	POSITION: relative;
	background:url(imgs/dd_arrow.gif) right 1px no-repeat;
}
.msDropDown .msDropdownTitle {
	DISPLAY: inline-block; FLOAT: left; OVERFLOW: hidden; WIDTH: auto; PADDING-TOP: 2px
}
.msDropDown IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.msDropDown A IMG.icon {
	PADDING-RIGHT: 2px
}
.msDropDown .msDropDown_Child A {
	CLEAR: both; 
	DISPLAY: block; 
	MARGIN: 0px; 
	WIDTH: 130%; 
	PADDING: 3px 0 3px 2px; 
	HEIGHT: auto; 
	TEXT-DECORATION: none;
	CURSOR: default;
}
.msDropDown .msDropDown_Child A:link {
	COLOR: #000
}
.msDropDown .msDropDown_Child A:visited {
	COLOR: #000
}
.msDropDown .msDropDown_Child A:hover {
	COLOR: #fff; BACKGROUND-COLOR: #316AC5
}
.msDropDown .msDropDown_Child A.selected {
	COLOR: #fff; BACKGROUND-COLOR: #316AC5
}
