<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zte.html5.sysman.sms.SmsMapper" >
  <!-- 屏蔽mybatis的2级缓存  <cache />  -->
  
  <!-- 记录和实体映射配置 -->
  <resultMap id="BaseMap" type="com.zte.html5.sysman.sms.Sms" >
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="RELATION_ID" property="relationId" jdbcType="VARCHAR" />	
		<result column="SMS_TYPE" property="smsType" jdbcType="VARCHAR" />	
		<result column="RECEIPT_NAME" property="receiptName" jdbcType="VARCHAR" />	
		<result column="RECEIPT_CODE" property="receiptCode" jdbcType="VARCHAR" />	
		<result column="RECEIPT_NUMBER" property="receiptNumber" jdbcType="VARCHAR" />	
		<result column="SMS_BODY" property="smsBody" jdbcType="VARCHAR" />	
		<result column="SMS_LEVEL" property="smsLevel" jdbcType="BIGINT" />	
		<result column="IS_PROMPTLY" property="isPromptly" jdbcType="VARCHAR" />	
		<result column="SEND_SUCCESS" property="sendSuccess" jdbcType="VARCHAR" />	
		<result column="SEND_TIME" property="sendTime" jdbcType="TIMESTAMP" />	
		<result column="MEMO" property="memo" jdbcType="VARCHAR" />	
		<result column="CREATED_BY" property="createdBy" jdbcType="BIGINT" />	
		<result column="CREATED_DATE" property="createdDate" jdbcType="TIMESTAMP" />	
		<result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="BIGINT" />	
		<result column="LAST_UPDATED_DATE" property="lastUpdatedDate" jdbcType="TIMESTAMP" />	
		<result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />	
		<result column="ORG_ID" property="orgId" jdbcType="BIGINT" />	
  </resultMap>

  <!-- 获取一条记录 -->
  <select id="get"  resultMap="BaseMap">
    select
    	t.ID ,
    	t.RELATION_ID ,	
    	t.SMS_TYPE ,	
    	t.RECEIPT_NAME ,	
    	t.RECEIPT_CODE ,	
    	t.RECEIPT_NUMBER ,	
    	t.SMS_BODY ,	
    	t.SMS_LEVEL ,	
    	t.IS_PROMPTLY ,	
    	t.SEND_SUCCESS ,	
    	t.SEND_TIME ,	
    	t.MEMO ,	
    	t.CREATED_BY ,	
    	t.CREATED_DATE ,	
    	t.LAST_UPDATED_BY ,	
    	t.LAST_UPDATED_DATE ,	
    	t.ENABLE_FLAG ,	
    	t.ORG_ID 	
    from frm_sms t
    where 
    t.ID=#{id,jdbcType=BIGINT}
  </select>
 
  <!-- 获取符合条件的记录列表 -->
  <select id="getList" parameterType="java.util.Map" resultMap="BaseMap">
    select
    	t.ID ,
    	t.RELATION_ID ,	
    	t.SMS_TYPE ,	
    	t.RECEIPT_NAME ,	
    	t.RECEIPT_CODE ,	
    	t.RECEIPT_NUMBER ,	
    	t.SMS_BODY ,	
    	t.SMS_LEVEL ,	
    	t.IS_PROMPTLY ,	
    	t.SEND_SUCCESS ,	
    	t.SEND_TIME ,	
    	t.MEMO ,	
    	t.CREATED_BY ,	
    	t.CREATED_DATE ,	
    	t.LAST_UPDATED_BY ,	
    	t.LAST_UPDATED_DATE ,	
    	t.ENABLE_FLAG ,	
    	t.ORG_ID 	
    from frm_sms t
    where 1=1
	<if test="id != null"> and t.ID = #{id}</if>	
	<if test="relationId != null and relationId != ''"> and t.RELATION_ID = #{relationId}</if>
	
	<if test="orderField != null">
		<choose>
			<when test="orderField=='id'"> order by t.ID <if test="order != null and order == 'desc'"> desc </if> </when>
			<when test="orderField=='relationId'"> order by t.RELATION_ID <if test="order != null and order == 'desc'"> desc </if> </when>
		</choose>
	</if>
  </select>
  
  <!-- 删除一条记录 -->
  <delete id="delete" >
    delete 
    from frm_sms
    where
    ID = #{id,jdbcType=BIGINT}
  </delete>

  <!--添加一条记录 -->
  <insert id="insert" parameterType="com.zte.html5.sysman.sms.Sms" >
  	<!--主键是自增字段时,放开注释代码 
	<selectKey keyProperty="id" resultType="java.lang.Long"  order="AFTER">   
        select LAST_INSERT_ID() as id  
      </selectKey> 
	-->
    insert into frm_sms 
    (
		ID ,
    	RELATION_ID ,	
    	SMS_TYPE ,	
    	RECEIPT_NAME ,	
    	RECEIPT_CODE ,	
    	RECEIPT_NUMBER ,	
    	SMS_BODY ,	
    	SMS_LEVEL ,	
    	IS_PROMPTLY ,	
    	SEND_SUCCESS ,	
    	SEND_TIME ,	
    	MEMO ,	
    	CREATED_BY ,	
    	CREATED_DATE ,	
    	LAST_UPDATED_BY ,	
    	LAST_UPDATED_DATE ,	
    	ENABLE_FLAG ,	
    	ORG_ID 	
    )
    values 
    (
	  frm_sms_s.nextval ,
    	#{relationId,jdbcType=VARCHAR} ,	
    	#{smsType,jdbcType=VARCHAR} ,	
    	#{receiptName,jdbcType=VARCHAR} ,	
    	#{receiptCode,jdbcType=VARCHAR} ,	
    	#{receiptNumber,jdbcType=VARCHAR} ,	
    	#{smsBody,jdbcType=VARCHAR} ,	
    	#{smsLevel,jdbcType=BIGINT} ,	
    	#{isPromptly,jdbcType=VARCHAR} ,	
    	#{sendSuccess,jdbcType=VARCHAR} ,	
    	#{sendTime,jdbcType=TIMESTAMP} ,	
    	#{memo,jdbcType=VARCHAR} ,	
    	#{createdBy,jdbcType=BIGINT} ,	
    	#{createdDate,jdbcType=TIMESTAMP} ,	
    	#{lastUpdatedBy,jdbcType=BIGINT} ,	
    	#{lastUpdatedDate,jdbcType=TIMESTAMP} ,	
    	#{enableFlag,jdbcType=VARCHAR} ,	
    	#{orgId,jdbcType=BIGINT} 	
    )
  </insert>
  
  <!-- 更新一条记录 -->
  <update id="update" parameterType="com.zte.html5.sysman.sms.Sms" >
    update frm_sms
    set 
		RELATION_ID=#{relationId,jdbcType=VARCHAR} ,
		SMS_TYPE=#{smsType,jdbcType=VARCHAR} ,
		RECEIPT_NAME=#{receiptName,jdbcType=VARCHAR} ,
		RECEIPT_CODE=#{receiptCode,jdbcType=VARCHAR} ,
		RECEIPT_NUMBER=#{receiptNumber,jdbcType=VARCHAR} ,
		SMS_BODY=#{smsBody,jdbcType=VARCHAR} ,
		SMS_LEVEL=#{smsLevel,jdbcType=BIGINT} ,
		IS_PROMPTLY=#{isPromptly,jdbcType=VARCHAR} ,
		SEND_SUCCESS=#{sendSuccess,jdbcType=VARCHAR} ,
		SEND_TIME=#{sendTime,jdbcType=TIMESTAMP} ,
		MEMO=#{memo,jdbcType=VARCHAR} ,
		CREATED_BY=#{createdBy,jdbcType=BIGINT} ,
		CREATED_DATE=#{createdDate,jdbcType=TIMESTAMP} ,
		LAST_UPDATED_BY=#{lastUpdatedBy,jdbcType=BIGINT} ,
		LAST_UPDATED_DATE=#{lastUpdatedDate,jdbcType=TIMESTAMP} ,
		ENABLE_FLAG=#{enableFlag,jdbcType=VARCHAR} ,
		ORG_ID=#{orgId,jdbcType=BIGINT} 
    where 
    ID=#{id,jdbcType=BIGINT}
  </update>
  
  <!-- 翻页函数:获取符合条件的记录数 -->
  <select id="getCount" parameterType="java.util.Map" resultType="java.lang.Long">
      select count(*)
      from frm_sms t
      WHERE 1=1 
		<if test="id != null"> and t.ID = #{id}</if>	
		<if test="relationId != null and relationId != ''"> and t.RELATION_ID = #{relationId}</if>
  </select>
	
  <!-- 翻页函数:获取一页的记录集 -->
  <select id="getPage" parameterType="java.util.Map" resultMap="BaseMap">
	 select * from frm_sms t
		WHERE 1=1 
			<if test="id != null"> and t.ID = #{id}</if>	
			<if test="relationId != null and relationId != ''"> and t.RELATION_ID = #{relationId}</if>
	  <if test="startRow != null and rowSize != null"> <![CDATA[ AND ROWNUM >=#{startRow} AND ROWNUM <= #{rowSize}]]> </if>
	  <if test="orderField != null and orderField == 'id'"> order by t.ID <if test="order != null and order == 'desc'"> desc </if> </if>
			<if test="orderField != null and orderField == 'relationId'"> order by t.RELATION_ID <if test="order != null and order == 'desc'"> desc </if> </if>

  </select>
	
</mapper>