@charset "utf-8";
*{
margin:0;
padding:0;
}

html{
overflow-y:hidden;
}

body{
font:"Lucida Grande", Verdana, Lucida, Arial, Helvetica, "宋体",sans-serif;
font-size:12px;
background:#073974 url(../images/login/login_body_bg.png) top left repeat-x;
background-color:#042f69\9;/*IE*/
color:#053b83;
}

a{
color:#5483b7;
text-decoration:underline;
}
a:hover{
color:#ff8c00;
text-decoration:none;
}

.login{
position:absolute;
width:508px;
height:356px;
left:50%;
top:50%;
margin-left:-254px;
margin-top:-184px;
background:url(../images/login/login_bg.png) no-repeat;
}
.login_logo{
padding:21px 0 0 2px;
height:49px;
}
.version {
font-family:Arial;
color:#5487BE;
font-weight:bold;
font-style:italic;
position:absolute;
font-weight:bold;
top:34px;
left:173px;
}

.login_area{
padding-top:25px;
text-align:right;
padding-right:17px;
overflow:hidden;
}

.digital{
padding-top:1px;
}

.language{
color:#151a20;
}

.username,.pw{
padding-top:3px;
_padding-top:1px;
}

.username,.pw,.dc,.digital_pw span{
font-weight:bold;
color:#151a20;
}

.login_txt{
border:1px solid #86b7df;
width:110px;
height:18px;
line-height:18px;
_height:17px;
padding-left:2px;
}

.login_operate{
padding-top:6px;
_padding-top:2px;
}

.login_btn{
font:"Lucida Grande", Verdana, Lucida, Arial, Helvetica, "宋体",sans-serif;
font-size:12px;
border:0;
background:url(../images/login/login_btn.png) left top no-repeat;
width:45px;
height:18px;
cursor:pointer;
}
.login_btn_en{
font:"Lucida Grande", Verdana, Lucida, Arial, Helvetica, "宋体",sans-serif;
font-size:12px;
border:0;
background:url(../images/login/login_btn_en.png) left top no-repeat;
width:45px;
height:18px;
cursor:pointer;
}

.wrong_info{
color:#ff0000;
}

.wrong_info span{
color:#000;
}

.tips{
margin-top:46px;
_margin-top:28px;
}

.tips{
color:red;
}
.tips_dc{
margin-top:-4px;
}

.tips_dc span{
color:red;
}

.copyright_dc{
padding:4px 0 0 15px;
}

.copyright{
padding:7px 0 0 15px;
}

.language,.username,.pw,.digital_pw,.login_operate{
height:19px;
line-height:19px;
}

.digital_pw{
margin-top:15px;
_margin-top:-1px;
}



.wrong_info,.wrong_info_dc,.hotline,.copyright,.tips,.tips_dc{
height:18px;
line-height:18px;
}

.disabled{
color:#a8a8a8;
}
