#progressbar {
	border:1px solid #d0d0d0;
	width: 250px;
	color: #000;
	position: relative;
	height: 15px;
}
#progressbar div.progress {
	overflow: hidden;
	width: 0px;
	position: absolute;
	height: 100%;
	background-color: #4381ca;
	left:0;
}
#progressbar div.progress .text {
	color: #fff;
	position: absolute;
	padding-left:30px;
	left:0;
}
#progressbar div.text {
	width: 100%;
	position: absolute;
	left:0;
	text-align:left;
	padding-left:30px;
}
.progressOperate{
width:100%;
text-align:right;
margin-top:20px;
}